@import 'colors';
@import 'fonts';

html {
  background-color: white; // TODO light-grey
}

body {
  padding: 0;
  margin: 0;
  font-family: $classic-font;
  font-weight: 500;
  color: $primary-text;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    position: relative;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
